body {
    background-color: #e7e7e7;
    margin: 0;
}

.dark-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header.jpeg");
    background-size: cover;
    height: 386px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 0;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}

#company {
    padding: 280px 0px 0px 15px;
    font-size: 36px;
    color:rgb(236, 236, 236);
    margin: 0;
}

#slogan {
    padding-left: 15px;
    color: rgb(236, 236, 236);
}

.text-shadow h1 {
    text-shadow: 2px 2px 2px #000000;
}

.text-shadow h2 {
    text-shadow: 2px 2px 2px #000000;
}

footer {
    background-color: rgb(58, 58, 58);
}

footer p {
    padding: 10px;
    text-align: center;
    color: rgb(236, 236, 236)
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(26, 26, 26);
}

p, li {
    font-family: 'Montserrat', sans-serif;
    color: rgb(8, 8, 8);
}

button {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    background-color: rgb(34, 92, 26);
    color: rgb(218, 218, 218);
}

button:hover {
    background-color: rgb(52, 145, 39);
}

#picture {
    max-width: 50%;
}